# looking at data

In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\admin\Desktop\GIT\Pandas\Pandas Data Analysis Livelessons\data\gapminder.tsv', sep='\t')

In [4]:
#looking at head function
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
#using tail function
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [7]:
#get specific columns
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
12          Albania
13          Albania
14          Albania
15          Albania
16          Albania
17          Albania
18          Albania
19          Albania
20          Albania
21          Albania
22          Albania
23          Albania
24          Algeria
25          Algeria
26          Algeria
27          Algeria
28          Algeria
29          Algeria
           ...
1674    Yemen, Rep.
1675    Yemen, Rep.
1676    Yemen, Rep.
1677    Yemen, Rep.
1678    Yemen, Rep.
1679    Yemen, Rep.
1680         Zambia
1681         Zambia
1682         Zambia
1683         Zambia
1684         Zambia
1685         Zambia
1686         Zambia
1687         Zambia
1688         Zambia
1689         Zambia
1690         Zambia
1691         Zambia
1692       Zimbabwe
1693       Zimbabwe
1694       Zimbabwe
1695       Zimbabwe
1696       Zimbabwe
1697       Zimbabwe
1698       Zimbabwe
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [6]:
#using dot methoid
df.country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
12          Albania
13          Albania
14          Albania
15          Albania
16          Albania
17          Albania
18          Albania
19          Albania
20          Albania
21          Albania
22          Albania
23          Albania
24          Algeria
25          Algeria
26          Algeria
27          Algeria
28          Algeria
29          Algeria
           ...
1674    Yemen, Rep.
1675    Yemen, Rep.
1676    Yemen, Rep.
1677    Yemen, Rep.
1678    Yemen, Rep.
1679    Yemen, Rep.
1680         Zambia
1681         Zambia
1682         Zambia
1683         Zambia
1684         Zambia
1685         Zambia
1686         Zambia
1687         Zambia
1688         Zambia
1689         Zambia
1690         Zambia
1691         Zambia
1692       Zimbabwe
1693       Zimbabwe
1694       Zimbabwe
1695       Zimbabwe
1696       Zimbabwe
1697       Zimbabwe
1698       Zimbabwe
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [10]:
#getting multiple columns

country_df = df['country']
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [24]:
#subset .. getting multiple coumns / using name of columns
subset = df[['country','continent','year']]

In [37]:
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [76]:
#using range , list and turn range to get first 5 rows 
range(5)

range(0, 5)

In [43]:
small_range = list(range(5))

In [47]:
subset = df.loc[small_range]

In [48]:
print(subset.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [75]:
#using range to slice of data
#getting rows between 3-5 using range

small_range = list(range(3,6))
newsub = df.loc[small_range]
newsub

       country continent  year  lifeExp       pop   gdpPercap
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360

In [67]:
#sliceing to pick steps of data

list(range(0,5,2))

[0, 2, 4]

In [64]:
small_range = list(range(0,5,2))

In [74]:
subset = df.loc[small_range]

In [66]:
print(subset.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [70]:
#view data

print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [72]:
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

In [78]:
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

In [79]:
#getting last row of data

df.shape

(1704, 6)

In [80]:
df.shape[0]

1704

In [81]:
last_row = df.shape[0] -1

In [83]:
print(df.loc[last_row])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [84]:
#another way of getting last item using tail()

print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [89]:
subset_loc = df.loc[0]
subset_head = df.head(n=1)

In [91]:
print(type(subset_loc))

<class 'pandas.core.series.Series'>

In [92]:
print(type(subset_head))

<class 'pandas.core.frame.DataFrame'>

In [96]:
#loc vs iloc

#loc searching for row name 0 and extracting 
print(df.loc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [97]:
# iloc extracting number 0 and extraccting it 

print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [99]:
#subset multiple rows

print(df.loc[[0,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [108]:
#subsetting using ilox

print(df.iloc[[10,12,35]])

        country continent  year  lifeExp       pop    gdpPercap
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
12      Albania    Europe  1952   55.230   1282697  1601.056136
35      Algeria    Africa  2007   72.301  33333216  6223.367465

In [109]:
#subset rows &  columns 
# .loc is searching for index name so we are passing country

print(df.loc[42,'country'])

Angola

In [113]:
#subsetting rows and columns using iloc
#iloc is searching for column index so passing 1,0...

print(df.iloc[42,1])
print(df.iloc[42,0])

Africa
Angola

In [115]:
#subsetting multiple rows and multiple columns
#for iloc passing index

print(df.iloc[[0,99,99],[0,3,5]])

        country  lifeExp   gdpPercap
0   Afghanistan   28.801  779.445314
99   Bangladesh   43.453  721.186086
99   Bangladesh   43.453  721.186086

In [120]:
#subsetting multiple ros and multiple columns

print(df.loc[[0,99,99],['counrty','lifeExp','gdpPercentage']])

    counrty  lifeExp  gdpPercentage
0       NaN   28.801            NaN
99      NaN   43.453            NaN
99      NaN   43.453            NaN